@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap');

:root {
    background-color: rgb(134, 125, 125);
}

body {
    color: whitesmoke;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(80, 233, 10);
    font-size: 3rem;
    min-width: 80%;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(46, 247, 6, 0.74);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;


}

.choice-text {
    padding: 2rem;
    width: 100%;

}

.correct {
    background: linear-gradient(32deg, rgb(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(230, 29, 1) 0%, rgb(224, 11, 1) 100%);
}

/* Heads up Display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
    padding: 5px 30px;
    
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 233, 36);
    margin-top: 3rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 233, 36);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        max-width: 100%;
    }
}